body {
    margin: 0;
    background-color: #474646;
    font-family: 'Nova Flat', cursive;
    font-size: 32px;
    color: white;
}

a:link { color: white; text-decoration: none; }
a:visited { color: white; }
a:active { color: white; }
a:hover { color: orange; }

h1 {
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    color: white;
    cursor: pointer;
    text-align: center;
    border: solid white 2px;
    padding: 4px;
}

h2:hover {
    color: orange;
    border: solid orange 2px;
}

p {
    text-align: center;
    letter-spacing: 1px;
}

.cardTable {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    
}

.card {
    width: 17.6%;
    height: 150px;
    margin-bottom: 5px;
    background-image: url(img/overwatch.png);
    display: inline-block;
    border: solid white 3px;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(90%);
    transition: all .3s ease-in-out;
}

.card:hover {
    filter: brightness(100%);
    border: solid orange 3px;
}